<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to Kazu's Profile site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("CV", "CVDownload", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Kazunori Hayashi   <a href="&#109;&#x61;&#105;&#x6c;&#x74;&#x6f;&#58;&#x6b;&#111;&#105;&#x74;&#x73;&#x75;&#x38;&#56;&#x34;&#x40;&#x68;&#111;&#116;&#x6d;&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;" target="_blank"><span class="glyphicon glyphicon-envelope"></span></a></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/skrollr.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
